node_modules/
*.log
.DS_Store
Threatened Species examples.zip
Threatened Species examples/
ntg-short-document-portrait_files/
ntg-short-document-portrait.html
ntg-short-document-portrait.htm
ntg-short-document-portrait.docx
example_files/
example.html